body{
	background-image:url(http://papernpepper.com/wp-content/uploads/2017/03/Newspaper-Craft.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	background-attachment: fixed;
}


*{
	box-sizing: border-box;
}

.div1{
    border: 1px solid #1C1C1C;
    padding: 1.5px;
    background-color: #585858;
    display: flex;
    justify-content:center;
}

.header, .footer{
	color: white;
	display: flex;
}

.header{
	width: 100%;
	font-size: 240%;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #07190B;
	position: fixed;
	border: .5px solid #1C1C1C;
	width: 99%;
}

#header-ul{
	list-style-type: none;
    margin: 2Px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
}

#header-list {
	float: left;
}

li a {
  background-color: #f1f1f1;
  width: 109px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  border: 3px solid #0F200F;
  border-radius: 7px;
  display: block;
  text-decoration: none;
}

a:link{
	color:  #f1f1f1;
}

a:visited{
	color: #0B3B0B;
}

a:hover{
	color: #122A0A;
}

a:active{
	color: #088A4B;
}

.Education-content{
	display: flex;
	background-color: #FFFFFF;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h3 {
	font-size: 30px;
	border-left: 6px solid #0B3B0B;
	background-color: #CEF6CE;
	padding: 5px;
	margin-top: 120px;
}

.Education-list{
	display: flex;
    border: 6px solid #4CAF50;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#education-ul{
	list-style-type: disc;
	background-color: #FFFFFF;
	width: 99%;
  	margin: 10px;
	padding:30px;

}

.column{
	padding: 10px;
	margin: 8px;
	font-size: 20px;
}

.footer{
	padding: 15px;
	margin-top: 65px;
	display: block;
	font-size: 15px;
	color: #000000;
	float: left;
	background-color: #585858;
	position: fixed;
	width: 99%;
}

