body{
	background-image:url(http://cdn.wall-pix.net/albums/art-photography/00028349.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	background-attachment: fixed;
}

*{
	box-sizing: border-box;
}

.div1{
    border: 1px solid #1C1C1C;
    padding: 1.5px;
    background-color: #585858;
    display: flex;
    justify-content:center;
}

.header, .footer{
	color: white;
	display: flex;
}

.header{
	width: 100%;
	font-size: 240%;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #07190B;
	position: fixed;
	border: .5px solid #1C1C1C;
	width: 99%;
}

ul{
	list-style-type: none;
    margin: 2Px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
}

li{
	float: left;
}

li a {
  background-color: #f1f1f1;
  width: 109px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  border: 3px solid #0F200F;
  border-radius: 7px;
  display: block;
  text-decoration: none;
}


a:link{
	color:  #f1f1f1;
}

a:visited{
	color: #0B3B0B;
}

a:hover{
	color: #122A0A;
}

a:active{
	color: #088A4B;
}

.home-content{
	display: flex;
	background-color: #FFFFFF;
}

h3{
	font-size: 30px;
	border-left: 6px solid #0B3B0B;
	background-color: #CEF6CE;
	padding: 5px;
	margin-top: 120px;
}

.home-summary{
	display: flex;
    border: 6px solid #4CAF50;
    padding: 5px;
}

img{
	float: left;
	max-width: 210px;
	width: 170px;
	height: 170px;
	padding: 5px;
	margin: 5px 10px;
	box-shadow: 5px 5px 10px #000000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-content{
	background-color: #FFFFFF;
	width: 99%;
  	margin: 10px;
	padding:80px;
	font-size: 20px;
}

.footer{
	padding: 15px;
	margin-top: 53px;
	display: block;
	font-size: 15px;
	color: #000000;
	float: left;
	background-color: #585858;
	position: fixed;
	width: 99%;
}
